@import "config";
@import "buttons";
@import "calculator";

.main {
    width: 100%;
}

.attribution { 
    font-size: 11px; text-align: center; 
    a 
    { 
        color: hsl(228, 45%, 44%); 
    }
};